body {
    width: 960px;
    margin: auto;
    /* Centrar Caja*/
}
a{
    text-decoration: none;
    color: #3c3c3c;
}
header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    background-color: chartreuse;
}

header img {
    vertical-align: middle;
}

main {
    width: 500px;

}

footer {
    height: 150px;
    background-color: #132d1a;
}