@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700&display=swap');

h1 {
    font-family: "Coiny";
    color: rgb(239, 88, 12);
}

body {
    background-color: rgb(254, 174, 144);
    font-family: "Roboto";
    text-align: justify;
    /*esto justifica el texto */
}

a {
    color: aliceblue;
    text-decoration: none;
}

a:hover {
    color: darkcyan;
    text-decoration: underline;
}

h2 {
    color: rgb(3, 61, 42);
}